<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Vår process</h2>
                <hr class="light">
                <p class="text-faded">1. Kontakta oss på något av medierna nedan.</p>
                <p class="text-faded">2. Kort samtal och överenskommelse om vad som behöver göras. (gratis)</p>
                <p class="text-faded">3. Vi skickar Offert och bokar en tid.</p>
                <p class="text-faded">4. Vi utför tjänsten.</p>

                <p class="text-faded">OBS: Vid arbeten i Åkersberga samt på Blidö tillkommer ingen extra transportavgift.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Kontaka oss!</a>
            </div>
        </div>
    </div>
</section>
