<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Axels skog och skärgård</h1>
            <hr>
            <p>Vi erbjuder stubbfräsning, markanläggning och sjötransport med pråm i Stockholmsområdet och Blidö skärgård. Vi utför även cykelservice och konsultation för utomhusprojekt. Kontakta oss – vi hjälper dig gärna!</p>
            <a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Läs mer här!</a>
        </div>
    </div>
</header>
