<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Priser</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ship wow bounceIn text-primary"></i>
                    <h3>Sjötransport</h3>
                    <p class="text-muted">Vid frakt med pråm: 250 kr/sjömil från Blidö.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-truck wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Vägtransport</h3>
                    <p class="text-muted">Transportavgift på land utanför Åkersberga: 150 kr/mil från Åkersberga centrum. </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Tidsersättning</h3>
                    <p class="text-muted">Projektpris enligt överenskommelse, eller timpris: 750 kr/timme + etableringsavgift från 1000 kr. </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bicycle wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Cykelmekaniker</h3>
                    <p class="text-muted">Komponenter för självkostnadspris + 750kr/timme.</p>
                </div>
            </div>
        </div>
    </div>
</section>
